<h2 class="page-title">Edit Profile</h2>

<br /><br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), role: 'form', html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :value => current_user.email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autocomplete: "off", :value => current_user.first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "off", :value => current_user.last_name %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autocomplete: "off", :value => current_user.address %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autocomplete: "off", :value => current_user.city %>
  </div>
 
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autocomplete: "off", :value => current_user.state %>
  </div>

  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, autocomplete: "off", :value => current_user.zip %>
  </div>
  </div>

  <br /><br />

  <div class="form-group">
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  </div>

  <br /><br />

  <div class="form-group">
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-default' %>
  </div>
  </div>
<% end %>

<br />

<%= link_to "Back", :back %>
