<h1 class='page-title'>Your Inventory</h1>

<br />

<div class='table-responsive'>
<table class='your-inventory'>
  <thead>
    <tr class='inventory-headers'>
      <th>Name</th>
      <th>Type</th>
      <th>Purchase Date</th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_items.each do |equipment_item| %>
      <tr class='inventory-attribute-values'>
        <td><%= equipment_item.name %></td>
        <td><%= link_to equipment_item.equipment_type.name, equipment_item.equipment_type %></td>
        <td><%= equipment_item.purchase_date %></td>
        <td><%= link_to 'Show', equipment_item, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_equipment_item_path(equipment_item), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', equipment_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br /><br />

<div style="text-align: center;">
<%= link_to 'New Equipment Item', new_equipment_item_path, class: 'btn btn-default' %>
</div>
