<%= javascript_include_tag 'homepage' %>

<h1 class='page-title'>Your Inventory</h1>

<br />

<div class='table-responsive'>
<table class='your-inventory'>
  <% if @equipment_items.size > 0 %>
    <thead>
      <tr class='inventory-headers'>
        <th class="name-column">Name</th>
        <th class="type-column">Type</th>
        <th class="purchase-date-column">Purchase Date</th>
        <th class="serial-column">Serial</th>
      </tr>
    </thead>
  <% else %>
    <div style="text-align: center;">You currently have no items in your inventory. Click below to add an item.</div>
  <% end %>

  <tbody>
    <% @equipment_items.each do |equipment_item| %>
      <tr class='inventory-attribute-values'>
        <td class="name-column"><%= equipment_item.name %></td>
        <td class="type-column"><%= link_to equipment_item.equipment_type.name, equipment_item.equipment_type %></td>
        <td class="purchase-date-column"><%= equipment_item.purchase_date %></td>
        <td class="serial-column"><%= equipment_item.serial %></td>
        <td><%= link_to 'Show', equipment_item, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_equipment_item_path(equipment_item), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', equipment_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br /><br />

<div style="text-align: center;">
<%= link_to 'Add New Equipment Item', new_equipment_item_path, class: 'btn btn-default' %>
</div>
