<h2 class='page-title'><%= @equipment_item.name %></h2>

<br />

<table class='show-item-table'>
  <tbody>
    <tr>
      <td>Serial:</td><td></td><td><%= @equipment_item.serial %></td>
    </tr>
    <tr>
      <td>Purchase Date:</td><td></td><td><%= @equipment_item.purchase_date %></td>
    </tr>
    <tr>
      <td>Comments:</td><td></td><td><%= @equipment_item.comments %></td>
    </tr>
    <tr>
      <td>Equipment Type:</td><td></td><td><%= @equipment_item.equipment_type.name %></td>
    </tr>
  </tbody>
<table>

<%= link_to 'Edit', edit_equipment_item_path(@equipment_item) %> |
<%= link_to 'Back', equipment_items_path %>
